{% extends 'base.html' %}
{% load crispy_forms_tags%}


{% block title %}Mot de passe oublié{% endblock title %}

{% block content %}
{% if validlink %}
<h3>Changement de mot de passe</h3>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Enregistrer" class="btn btn-primary">
    <input type="reset" value="Annuler" class="btn btn-secondary">
</form>
{% else %}
<p>
    Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé.
    Veuillez demander une nouvelle réinitialisation du mot de passe.
</p>
{% endif %}
{% endblock %}